.button {
    background-color: #76A5AF;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: large;
}

.delete {
    background-color: #E06666;
    color: white;
}

.to-right{
    text-align: right;
}
