.options-buttons{
    display: flex;
    flex-direction: row;
}

#filter-input{
    background-color: #fff;
    outline: 0;
    font-size: 20px;
    padding: 10px 15px;
    border: 1px solid rgb(34,34,34,0.15);
    color:#222;
    border-radius: 4px;
    width: 98%;
    box-sizing: border-box;
    margin-left: 10px;
}

.columna{
    width: 45%;
    margin: 0 2% 0 2%;
}

.add-post-button{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
}